.bg-pink{
    background-color: rgb(255, 192, 203);
}
.bg-pink a:hover{
    color: pink;
}
.bg-rounded{
    border-radius: 45px;
    background-color: white;
}
a.bg-rounded:hover{
    background-color: rgb(241, 107, 129);
    color: white;
    width: 20%;
}
.navbar-light a:hover{
    background-color:rgb(241, 107, 129);
    border-radius: 45px;

}
a{
    margin: 0px 10px 0px 10px;
}
.imagen-logo{
    border-radius: 15%;
}
.imagen-logo a:hover{
    background: none;
}
.dropdown-item{
    width: 80%;
}
a.dropdown-item.active{
    background: none;
    color: white;
    background-color:rgb(241, 107, 129);
    border-radius: 15px;
}
.bg-rounded-login{
    background-color: white;
    border-radius: 20px;
    color: rgb(209, 30, 60);
}
a.nav-link{
    color: rgb(209, 30, 60);
}
.btn-success{
    border-radius: 20px;
}