.list {
    list-style: none;
}
.boton-detalle{
    border-radius: 10px;
    height: 2em;
    margin-bottom: 5px;
    color: rgb(163, 106, 115);
    font-weight: bold;
    background-color: white;
    border: 2px solid pink;
    text-align: center;
    padding: 5px;
}
a.boton-detalle{
    text-decoration: none;
}
a.boton-detalle:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(205, 147, 155);
    border: none;
    padding: auto;
}
.card-deck{
    box-shadow: 4px 8px 15px rgb(0,0,0, 0.2);
}
.imagen{
    height: 200px;
}